body{
	background: linear-gradient(135deg, #ffd700, #ffb000);
}

.zonas{
  position: absolute;
  width: 20vw;
  height: 20vh;
  border: 0.01vw solid #ffb000;
  background-color: #000000;
  color: #ffffff;
  }

.zonas :hover{  
  width: 19.3vw;
  height: 19.3vh;
  border: 0.7vh solid #66a6ff;
  z-index: 1;
  }

.imagenes{
  position: absolute;
  width: 20vw;
  height: 20vh;
  /*object-fit: fill;*/
  }

  #completa{
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 17vw;
  height: 17vh;
  }

#z11{
  position: absolute;
  top: 10vh;
  left: 10vw;
   background-size: cover;
  background-position: center;
  }

#z21{
  position: absolute;
  top: 10vh;
  left: 30vw;
  
  }

#z31{
  position: absolute;
  top: 10vh;
  left: 50vw;
  }

#z41{
  position: absolute;
  top: 10vh;
  left: 70vw;
  }

#z12{
  position: absolute;
  top: 30vh;
  left: 10vw;
  }

#z22{
  position: absolute;
  top: 30vh;
  left: 30vw;
  }

#z32{
  position: absolute;
  top: 30vh;
  left: 50vw;
  }

#z42{
  position: absolute;
  top: 30vh;
  left: 70vw;
  }

#z13{
  position: absolute;
  top: 50vh;
  left: 10vw;
  }

#z23{
  position: absolute;
  top: 50vh;
  left: 30vw;
  }

#z33{
  position: absolute;
  top: 50vh;
  left: 50vw;
  }

#z43{
  position: absolute;
  top: 50vh;
  left: 70vw;
  }

#z14{
  position: absolute;
  top: 70vh;
  left: 10vw;
  }

#z24{
  position: absolute;
  top: 70vh;
  left: 30vw;
  }

#z34{
  position: absolute;
  top: 70vh;
  left: 50vw;
  }

#z44{
  position: absolute;
  top: 70vh;
  left: 70vw;
  }
  

/*#botonmezclar{
  position: absolute;
  top: 6vh;
  left: 45vw;
  width: 10vw;
  height: 6vh;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  border-radius: 20%;
  border: 0.03vw solid #000000;
  box-shadow: #999 0.42vw 0.47vw 0.26vw;
  font:bold 2.3vw arial;
}

#botonmezclar:hover{
  background: linear-gradient(135deg, #ffd700, #ffb000);
  box-shadow: #ddd 0.42vw 0.47vw 0.26vw;
}*/

#text{
  position: absolute;
  top: 10vh;
  left: 30vw;
  color: #4484dd;
  font:bold 2.3vw arial;
}